<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>devkit</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/tabs.css">
    <link rel="stylesheet" href="../../css/tabstyles.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
</head>

<body>
    <div class="container">
                    <section id="section-circle-1">
                        <h1 class="config-h1">加密&解密</h1>
                        <div class="text-left">
                            <h2 class="config-h2">Md5计算</h2>
                        </div>
                        <div class="input-group">
                            <input type="text" placeholder="输入字符串,生成32位MD5" class="form-control" id="md5-origin" />
                            <span class="input-group-btn">
								<input type="button" class="btn btn-success" value="转换" id="convert-md5">
							</span>
                        </div>
                        <span id='md5-result' class='result'></span>
                    </section>
    </div>
    <script>
    if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }
    </script>
    <script src="../../js/jquery-1.12.2.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/md5.min.js"></script>
    <script type="text/javascript">
    $(function() {
        //复制

        $('#convert-md5').click(function() {
            var _md5 = md5($('#md5-origin').val());
            $('#md5-origin').val(_md5);
            clipboard.writeText(_md5.toString());
            $('#md5-result').text('生成结果已复制到黏贴板上');
        });
    if (window.module) module = window.module;
    });
    </script>
</body>

</html>
